

 .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    
    transition: background-color 0.3s;
    height: 10vh;
    background-color:rgb(156, 136, 110);
    border-bottom: 1px solid;
    border-top: 1px solid;
}

.navbar.scrolled {
    background-color:rgb(156, 136, 110)
}

.nav-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links li {
    margin-right: 40px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
}

.nav-links a:hover {
    color: white;
}

.nav-links a:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -32px; /* Adjust the position of the underline */
    width: 100%;
    height: 1px;
    background-color: white; /* White underline color */
}

.left-icons {
    display: flex;
    align-items: center;
    width: 60px;
    height: 60px;
    padding-right: 40px;
}
